:root {
    --light-text: #a389ee;
    --off-white: #e1e1e1;
    --sub-text: #8d8c8c;
    --main-bg-color: #202020;
}

*{
    font-family: sans-serif;
    padding:0;
    margin:0;
}

html{
    background: #202020;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f0f0f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5539aa;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6042bb;
  }